parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property DnsMadeEasy\\\\Interfaces\\\\ClientInterface\\:\\:\\$logger\\.$#"
			count: 4
			path: src/Managers/AbstractManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\ContactListManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\ContactListInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/ContactListManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\DomainRecordManager\\:\\:create\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\DomainRecordInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/DomainRecordManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\DomainRecordManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\DomainRecordInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/DomainRecordManager.php

		-
			message: "#^Parameter \\#2 \\$domain of class DnsMadeEasy\\\\Managers\\\\Multiple\\\\MultipleRecordManager constructor expects DnsMadeEasy\\\\Interfaces\\\\Models\\\\Common\\\\CommonManagedDomainInterface, DnsMadeEasy\\\\Interfaces\\\\Models\\\\ManagedDomainInterface\\|null given\\.$#"
			count: 1
			path: src/Managers/DomainRecordManager.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$label\\.$#"
			count: 1
			path: src/Managers/FolderManager.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$value\\.$#"
			count: 1
			path: src/Managers/FolderManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\FolderManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\FolderInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/FolderManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\ManagedDomainManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\ManagedDomainInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/ManagedDomainManager.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$id\\.$#"
			count: 1
			path: src/Managers/Multiple/MultipleDomainManager.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$ids\\.$#"
			count: 1
			path: src/Managers/Multiple/MultipleDomainManager.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$names\\.$#"
			count: 1
			path: src/Managers/Multiple/MultipleDomainManager.php

		-
			message: "#^Variable property access on object\\.$#"
			count: 1
			path: src/Managers/Multiple/MultipleDomainManager.php

		-
			message: "#^Access to an undefined property DnsMadeEasy\\\\Interfaces\\\\Models\\\\Common\\\\CommonManagedDomainInterface\\:\\:\\$records\\.$#"
			count: 1
			path: src/Managers/Multiple/MultipleRecordManager.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$id\\.$#"
			count: 1
			path: src/Managers/RecordFailoverManager.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$recordId\\.$#"
			count: 1
			path: src/Managers/RecordFailoverManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\RecordFailoverManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\RecordFailoverInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/RecordFailoverManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\SOARecordManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\SOARecordInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/SOARecordManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\SecondaryDomainManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\SecondaryDomainInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/SecondaryDomainManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\SecondaryIPSetManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\SecondaryIPSetInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/SecondaryIPSetManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\TemplateManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\TemplateInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/TemplateManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\TemplateRecordManager\\:\\:create\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\TemplateRecordInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/TemplateRecordManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\TemplateRecordManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\TemplateRecordInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/TemplateRecordManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\TransferAclManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\TransferAclInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/TransferAclManager.php

		-
			message: "#^Parameter \\#1 \\$manager of class DnsMadeEasy\\\\Models\\\\Usage constructor expects DnsMadeEasy\\\\Interfaces\\\\Managers\\\\AbstractManagerInterface, DnsMadeEasy\\\\Interfaces\\\\ClientInterface given\\.$#"
			count: 1
			path: src/Managers/UsageManager.php

		-
			message: "#^Parameter \\#2 \\$client of class DnsMadeEasy\\\\Models\\\\Usage constructor expects DnsMadeEasy\\\\Interfaces\\\\ClientInterface, \\$this\\(DnsMadeEasy\\\\Managers\\\\UsageManager\\) given\\.$#"
			count: 1
			path: src/Managers/UsageManager.php

		-
			message: "#^Method DnsMadeEasy\\\\Managers\\\\VanityNameServerManager\\:\\:get\\(\\) should return DnsMadeEasy\\\\Interfaces\\\\Models\\\\VanityNameServerInterface but returns DnsMadeEasy\\\\Interfaces\\\\Models\\\\AbstractModelInterface\\.$#"
			count: 1
			path: src/Managers/VanityNameServerManager.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$id\\.$#"
			count: 1
			path: src/Models/AbstractModel.php

		-
			message: "#^Argument of an invalid type object supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Models/AbstractModel.php

		-
			message: "#^Call to an undefined method DnsMadeEasy\\\\Interfaces\\\\Managers\\\\AbstractManagerInterface\\:\\:refresh\\(\\)\\.$#"
			count: 1
			path: src/Models/AbstractModel.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array given\\.$#"
			count: 1
			path: src/Models/AbstractModel.php

		-
			message: "#^Variable method call on \\$this\\(DnsMadeEasy\\\\Models\\\\AbstractModel\\)\\.$#"
			count: 2
			path: src/Models/AbstractModel.php

		-
			message: "#^Variable property access on \\$this\\(DnsMadeEasy\\\\Models\\\\AbstractModel\\)\\.$#"
			count: 1
			path: src/Models/AbstractModel.php

		-
			message: "#^Variable property access on mixed\\.$#"
			count: 2
			path: src/Models/AbstractModel.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$created\\.$#"
			count: 1
			path: src/Models/Common/CommonManagedDomain.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$updated\\.$#"
			count: 1
			path: src/Models/Common/CommonManagedDomain.php

		-
			message: "#^Call to an undefined method DnsMadeEasy\\\\Interfaces\\\\Managers\\\\UsageManagerInterface\\:\\:getForDomain\\(\\)\\.$#"
			count: 1
			path: src/Models/Common/CommonManagedDomain.php

		-
			message: "#^Parameter \\#1 \\$domain of method DnsMadeEasy\\\\Interfaces\\\\Managers\\\\TemplateManagerInterface\\:\\:createFromDomain\\(\\) expects DnsMadeEasy\\\\Interfaces\\\\Models\\\\ManagedDomainInterface, \\$this\\(DnsMadeEasy\\\\Models\\\\Common\\\\CommonManagedDomain\\) given\\.$#"
			count: 1
			path: src/Models/Common/CommonManagedDomain.php

		-
			message: "#^Return type \\(array\\) of method DnsMadeEasy\\\\Models\\\\Common\\\\CommonManagedDomain\\:\\:getUsage\\(\\) should be covariant with return type \\(array\\<DnsMadeEasy\\\\Interfaces\\\\Models\\\\UsageInterface\\>\\) of method DnsMadeEasy\\\\Interfaces\\\\Models\\\\Common\\\\CommonManagedDomainInterface\\:\\:getUsage\\(\\)$#"
			count: 1
			path: src/Models/Common/CommonManagedDomain.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$created\\.$#"
			count: 1
			path: src/Models/Common/CommonSecondaryDomain.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$updated\\.$#"
			count: 1
			path: src/Models/Common/CommonSecondaryDomain.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$label\\.$#"
			count: 1
			path: src/Models/Concise/ConciseFolder.php

		-
			message: "#^Call to an undefined method DnsMadeEasy\\\\Interfaces\\\\Managers\\\\AbstractManagerInterface\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/Models/Concise/ConciseFolder.php

		-
			message: "#^Call to an undefined method DnsMadeEasy\\\\Interfaces\\\\Managers\\\\AbstractManagerInterface\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/Models/Concise/ConciseManagedDomain.php

		-
			message: "#^Call to an undefined method DnsMadeEasy\\\\Interfaces\\\\Managers\\\\AbstractManagerInterface\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/Models/Concise/ConciseSecondaryDomain.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$email\\.$#"
			count: 2
			path: src/Models/ContactList.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$created\\.$#"
			count: 1
			path: src/Models/ManagedDomain.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$updated\\.$#"
			count: 1
			path: src/Models/ManagedDomain.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$ipSet\\.$#"
			count: 2
			path: src/Models/SecondaryDomain.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$ipSetId\\.$#"
			count: 1
			path: src/Models/SecondaryDomain.php

		-
			message: "#^Call to an undefined method DnsMadeEasy\\\\Managers\\\\TemplateRecordManager\\:\\:setDomain\\(\\)\\.$#"
			count: 1
			path: src/Models/Template.php

		-
			message: "#^Access to an undefined property DnsMadeEasy\\\\Interfaces\\\\ClientInterface\\:\\:\\$domain\\.$#"
			count: 1
			path: src/Models/Usage.php

		-
			message: "#^Class DnsMadeEasy\\\\Pagination\\\\Paginator implements generic interface ArrayAccess but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Pagination/Paginator.php

		-
			message: "#^Class DnsMadeEasy\\\\Pagination\\\\Paginator implements generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Pagination/Paginator.php
